define host {
    use         generic-host
    host_name   {{ client_name_short }}
    alias       {{ client_name }}
    address     {{ client_address }}
}

define service {
    use                     generic-service
    host_name               {{ client_name_short }}
    service_description     Disk Space
    check_command           {{ check_nrpe_cmd }}_1arg!check_root
}

define service {
    use                     generic-service
    host_name               {{ client_name_short }}
    service_description     Current Users
    check_command           {{ check_nrpe_cmd }}_1arg!check_users
}

define service {
    use                     generic-service
    host_name               {{ client_name_short }}
    service_description     Total Processes
    check_command           {{ check_nrpe_cmd }}_1arg!check_procs
}

define service {
    use                     generic-service
    host_name               {{ client_name_short }}
    service_description     Current Load
    check_command           {{ check_nrpe_cmd }}_1arg!check_load
}
